<div class="sidenav">
   <!-- Menu icon for responsive design -->
   
  
  <!-- User Profile Box -->
  <div class="profile-box">
    <img src="../../assets/images/profilepic.png" alt="Profile Picture" class="profile-picture">
    <span class="username">UserName</span>
  </div>

  <!-- Vertical Menu -->
  <div class="menu">
    <ul class="list-unstyled">
      <li (click)="navigateToProfile()">
        <a><i class="bi bi-person"></i> Profile</a>
      </li>
      <li (click)="navigateToFriends()"><a><i class="bi bi-people"></i> Friends</a></li>
      <li (click)="navigateToGroups()"><a><i class="bi bi-people"></i> Groups</a></li>
      <li><a><i class="bi bi-bar-chart"></i> Trending</a></li>
      <li><a><i class="bi bi-calendar"></i> Events</a></li>
      <li><a><i class="bi bi-box"></i> Archive</a></li>
      <li><a><i class="bi bi-box-arrow-right"></i> Logout</a></li>
    </ul>
  </div>


</div>
