/* Add this to your component's CSS or styles file */
.wrapper {
  background-color: #282a36;
  color: #fff;
  height: 1500px;
}
.container {
  padding-top: 180px;
}

/* Add this to your component's CSS or styles file */
.card {
  border: 2px solid #44475a; /* Updated border color to match Dracula theme */
  border-radius: 10%;
  overflow: hidden;
  transition: transform 0.5s;
  width: 250px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #44475a;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 99.75%; /* Make images 0.25% smaller */
  height: auto;
  border-bottom: 1px solid #44475a; /* Updated border color to match Dracula theme */
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #bd93f9; /* Updated text color to match Dracula theme */
}

.card-text {
  color: #6272a4; /* Updated text color to match Dracula theme */
}


.drac-btn {
  color: #f8f8f2; /* Text color for Dracula theme buttons */
  background: linear-gradient(to right, #6272a4, #44475a, #282a36); /* Dracula gradient colors */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: filter 0.3s ease; /* Add smooth transition for hover effect */
}
.drac-btn:hover {
  filter: brightness(1.2); /* Hover effect for brightness */
}
