<div class="navbar">
    <div class="logo">
      <!-- Your logo content goes here -->
      <img src="../../assets/images/epiverse.png" alt="Logo">
    </div>
    <div class="search-bar">
      <!-- Search bar content goes here -->
      <input type="text" placeholder="Search...">
    </div>
    <div class="menu-icons">
      <!-- Menu icons go here -->
      <a (click)="navigateToFeed()">
        <i class="bi bi-house-door"></i> <!-- Home icon from Bootstrap Icons -->
      </a>
      <a href="#">
        <i class="bi bi-chat-dots"></i> <!-- Chat icon from Bootstrap Icons -->
      </a>
      <a href="#">
        <i class="bi bi-bell"></i> <!-- Bell icon from Bootstrap Icons -->
      </a>
    </div>
  </div>
  